In [ ]:
##https://www.qmr.ai/yfinance-library-the-definitive-guide/

In [1]:
import yfinance as yf 
import pandas as pd

In [61]:
def create(symbole, inter):
    df = yf.download(symbole, start='1990-01-01', end='2020-01-01',  interval = inter)
    df = df.reset_index(level='Date')
    # 1d,5d,1wk,1mo,3mo
    df.to_csv(symbole+ '_' + inter+'.csv', sep=';', encoding='utf-8', index=False)

In [62]:
create('SEL.PA', "1d")

[*********************100%***********************]  1 of 1 completed

In [65]:
test = pd.read_csv('SEL.PA_1d.csv', sep=';', encoding='utf-8')

In [75]:
type(test.loc[test.index[-1], 'Date'])

str

In [73]:
df = yf.download('SEL.PA', start=test.loc[test.index[-1], 'Date'], end=None,  interval = "1d")

[*********************100%***********************]  1 of 1 completed

In [74]:
df

                 Open       High        Low      Close  Adj Close  Volume
Date
2019-12-31  17.406000  17.406000  17.299999  17.350000  17.350000    2474
2020-01-02  17.344999  17.580000  17.344999  17.565001  17.565001    2309
2020-01-03  17.357000  17.497000  17.356001  17.497000  17.497000    2190
2020-01-06  17.337999  17.459999  17.273001  17.451000  17.451000   13166
2020-01-07  17.547001  17.573000  17.457001  17.502001  17.502001   15846
...               ...        ...        ...        ...        ...     ...
2023-02-23  15.749000  15.849000  15.749000  15.789000  15.789000    2941
2023-02-24  15.880000  15.880000  15.592000  15.592000  15.592000    9568
2023-02-27  15.716000  15.848000  15.716000  15.796000  15.796000    2405
2023-02-28  15.741000  15.921000  15.721000  15.861000  15.861000   12027
2023-03-01  15.870000  15.932000  15.759000  15.794000  15.794000    1800

[816 rows x 6 columns]