In [1]:
##https://www.qmr.ai/yfinance-library-the-definitive-guide/

In [2]:
import yfinance as yf 
import pandas as pd

In [3]:
def create(symbole, inter):
    df = yf.download(symbole, start='1990-01-01', end='2020-01-01',  interval = inter)
    df = df.reset_index(level='Date')
    # 1d,5d,1wk,1mo,3mo
    df.to_csv(symbole+ '_' + inter+'.csv', sep=';', encoding='utf-8', index=False)

In [4]:
create('SEL.PA', "1d")

[*********************100%***********************]  1 of 1 completed

In [5]:
test = pd.read_csv('SEL.PA_1d.csv', sep=';', encoding='utf-8')

In [6]:
type(test.loc[test.index[-1], 'Date'])

str

In [7]:
df = yf.download('SEL.PA', start=test.loc[test.index[-1], 'Date'], end=None,  interval = "1d")

[*********************100%***********************]  1 of 1 completed

In [8]:
df

                 Open       High        Low      Close  Adj Close  Volume
Date
2019-12-31  17.406000  17.406000  17.299999  17.350000  17.350000    2474
2020-01-02  17.344999  17.580000  17.344999  17.565001  17.565001    2309
2020-01-03  17.357000  17.497000  17.356001  17.497000  17.497000    2190
2020-01-06  17.337999  17.459999  17.273001  17.451000  17.451000   13166
2020-01-07  17.547001  17.573000  17.457001  17.502001  17.502001   15846
...               ...        ...        ...        ...        ...     ...
2023-02-23  15.749000  15.849000  15.749000  15.789000  15.789000    2941
2023-02-24  15.880000  15.880000  15.592000  15.592000  15.592000    9568
2023-02-27  15.716000  15.848000  15.716000  15.796000  15.796000    2405
2023-02-28  15.741000  15.921000  15.721000  15.861000  15.861000   12027
2023-03-02  15.758000  15.822000  15.719000  15.816000  15.816000     557

[816 rows x 6 columns]

In [46]:
def getHist(symbole, inter):
    df = yf.download(symbole, start='1990-01-01', end=None,  interval = inter)
    return df

In [47]:
test = getHist("SEL.PA", "1mo")
test2 = getHist("CD8.PA", "1mo")
test3 = getHist("MEH.PA", "1mo")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [54]:
result = test2 + test + test3

In [55]:
result

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2008-02-01,NaN,NaN,NaN,NaN,NaN,NaN
2008-03-01,NaN,NaN,NaN,NaN,NaN,NaN
2008-04-01,NaN,NaN,NaN,NaN,NaN,NaN
2008-05-01,NaN,NaN,NaN,NaN,NaN,NaN
2008-06-01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2022-11-01,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-01,176.977495,148.518994,141.242002,171.595698,171.595698,167373.0
2023-01-01,173.560497,153.898993,144.678998,183.487005,183.487005,254076.0
2023-02-01,183.881902,156.775002,152.552007,185.978893,185.978893,189788.0
2023-03-01,184.334998,185.670995,184.295998,185.058993,185.058993,0.0

In [56]:
test

              Open    High     Low      Close  Adj Close  Volume
Date
2008-02-01  26.850   0.000   0.000  26.480000  26.480000       0
2008-03-01  26.170   0.000   0.000  24.959999  24.959999       0
2008-04-01  24.850   0.000   0.000  24.570000  24.570000       0
2008-05-01  24.670   0.000   0.000  23.180000  23.180000       0
2008-06-01  23.230   0.000   0.000  18.900000  18.900000       0
...            ...     ...     ...        ...        ...     ...
2022-11-01  14.249  15.099  13.931  14.932000  14.932000  189621
2022-12-01  15.083  15.119  14.342  14.613000  14.613000  138320
2023-01-01  14.809  15.719  14.759  15.611000  15.611000  219144
2023-02-01  15.668  16.055  15.592  15.861000  15.861000  153882
2023-03-01  15.758  15.822  15.719  15.800000  15.800000       0

[182 rows x 6 columns]