In [1]:
##https://www.qmr.ai/yfinance-library-the-definitive-guide/

In [1]:
import yfinance as yf 
import pandas as pd

In [63]:
def getHistorical(actions, inter):
    df = []
    for i in range(len(actions)):
        df.append(yf.download(actions['symbole'][i], start='2020-01-01', end=None,  interval = inter))
        df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)
    return df

In [75]:
    def concatHist(df, actions):

        ind = 0
        maxi = -1
        for i in range(len(actions)):
            if len(df[i]) > maxi:
                ind = i

        liste = list(range(len(actions)))
        del liste[ind]
        frame = df[ind]

        for i in liste:
            frame = pd.concat([frame, df[i]], axis=1)
            frame = frame.fillna(0)

        return frame

In [78]:
def resultHist(df, actions):
    result = pd.DataFrame(columns=["Open","High","Low","Close"])

    result["Open"] = df["Open0"]*actions['quantity'][0]
    result["High"] = df["High0"]*actions['quantity'][0]
    result["Low"] = df["Low0"]*actions['quantity'][0]
    result["Close"] = df["Close0"]*actions['quantity'][0]


    for i in range(1,len(actions)):

        result["Open"] += df["Open"+str(i)]*actions['quantity'][i]
        result["High"] += df["High"+str(i)]*actions['quantity'][i]
        result["Low"] += df["Low"+str(i)]*actions['quantity'][i]
        result["Close"] += df["Close"+str(i)]*actions['quantity'][i]

    return result

In [82]:
actions = pd.read_csv('Actions.csv', sep =';')
result = resultHist(concatHist(getHistorical(actions, '1mo'), actions), actions)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\leand\AppData\Local\Temp\ipykernel_37536\1725866327.py:5: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)
C:\Users\leand\AppData\Local\Temp\ipykernel_37536\1725866327.py:5: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)

[*********************100%***********************]  1 of 1 completed

C:\Users\leand\AppData\Local\Temp\ipykernel_37536\1725866327.py:5: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)

In [83]:
result

                   Open         High         Low        Close
Date
2020-01-01   794.940010   813.396011  785.352013   789.971992
2020-02-01   790.367981   835.091995  715.175995   722.364006
2020-03-01   731.220016   748.464020  495.935989   579.803993
2020-04-01   565.379997   624.276009  549.251999   603.156006
2020-05-01   603.156006   633.480011  550.440010   616.344017
2020-06-01   625.667999   694.200005  619.608009   644.375999
2020-07-01   646.284004   672.899986  620.052017   623.028008
2020-08-01   624.456001   667.175995  621.576004   639.540001
2020-09-01   642.587997   655.776009  601.199982   620.784004
2020-10-01   627.335999   650.748001  582.047997   592.872002
2020-11-01   592.908005   725.795998  591.720016   709.224014
2020-12-01   711.371979   725.051994  681.456001   709.715996
2021-01-01   709.715996   745.271988  707.040001   709.595993
2021-02-01   712.428017   751.944008  712.428017   730.847992
2021-03-01   738.060013   795.060013  738.060013   790.332001
2021-04-01   790.656006   807.839996  787.548019   788.724014
2021-05-01   789.359985   818.280029  783.335999   808.343994
2021-06-01   812.832001   832.907959  803.987961   806.556015
2021-07-01   812.700027   825.312012  778.151962   807.971970
2021-08-01   812.939987   837.840042  807.779984   825.936035
2021-09-01   831.084000   833.160004  783.779984   792.228012
2021-10-01   782.184036   818.099991  781.104012   812.244003
2021-11-01   814.800018   834.564011  794.484009   798.575958
2021-12-01   808.271988   841.740005  798.119980   836.460022
2022-01-01   840.240005   860.892014  814.199982   844.463974
2022-02-01   846.048019   855.371979  778.128021   800.184036
2022-03-01   801.755997   808.751999  701.891991   795.275986
2022-04-01   796.980011   812.220016  777.000000   796.284027
2022-05-01   793.332001   809.976013  760.152008   800.832001
2022-06-01   805.919998   811.295975  711.599991   717.348015
2022-07-01   713.160004   735.251999  670.259995   722.099991
2022-08-01   723.024010   746.759995  697.584000   698.483986
2022-09-01   694.656006   726.624001  641.952003   654.947983
2022-10-01   650.292000   710.435989  643.295998   707.699982
2022-11-01   715.235985   760.475990  700.284004   754.368004
2022-12-01  1051.616993   763.055992  724.908005  1020.058987
2023-01-01  1033.490986   791.795975  743.975990  1094.284023
2023-02-01  1097.631012   807.480011  785.088020  1104.845982
2023-03-01  1096.754997  1107.359962  794.375977  1107.359962

In [87]:
actions['symbole'][0]

'SEL.PA'

In [85]:
test = yf.download(actions['symbole'][0], start='2020-01-01', end=None,  interval = "1d")

[*********************100%***********************]  1 of 1 completed

In [86]:
test

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-01-02  17.344999  17.580000  17.344999  17.565001  17.565001    2309
2020-01-03  17.357000  17.497000  17.356001  17.497000  17.497000    2190
2020-01-06  17.337999  17.459999  17.273001  17.451000  17.451000   13166
2020-01-07  17.547001  17.573000  17.457001  17.502001  17.502001   15846
2020-01-08  17.500999  17.500999  17.349001  17.469000  17.469000    8438
...               ...        ...        ...        ...        ...     ...
2023-02-27  15.716000  15.848000  15.716000  15.796000  15.796000    2405
2023-02-28  15.741000  15.921000  15.721000  15.861000  15.861000   12027
2023-03-01  15.870000  15.932000  15.759000  15.794000  15.794000    1800
2023-03-02  15.758000  15.870000  15.719000  15.845000  15.845000    3439
2023-03-03  15.920000  16.014999  15.920000  16.014999  16.014999    6123

[817 rows x 6 columns]

In [101]:
def getHistorical(actions, inter):
    df = []
    for i in range(len(actions)):
        print(actions['symbole'][i])
        df.append(yf.download(actions['symbole'][i], start=actions['date'][i], end=None,  interval = inter))
        df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)
    return df

In [102]:
actions = pd.read_csv('Actions.csv', sep =';')  

result = getHistorical(actions, '1d')

SEL.PA
[*********************100%***********************]  1 of 1 completed
MEH.PA
[*********************100%***********************]  1 of 1 completed
CD8.PA

C:\Users\leand\AppData\Local\Temp\ipykernel_37536\140997464.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)
C:\Users\leand\AppData\Local\Temp\ipykernel_37536\140997464.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)

[*********************100%***********************]  1 of 1 completed

C:\Users\leand\AppData\Local\Temp\ipykernel_37536\140997464.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df[i].set_axis([ 'Open'+str(i), 'High'+str(i),'Low'+str(i),'Close'+str(i),'Adj Close'+str(i),'Volume'+str(i)], axis='columns', inplace=True)

In [105]:
result[1]

                Open1      High1       Low1     Close1  Adj Close1  Volume1
Date
2022-11-22  29.535700  29.535700  29.535700  29.535700   29.535700        0
2022-11-24  30.185400  30.185400  30.185400  30.185400   30.185400        0
2022-11-28  29.498600  29.498600  29.498600  29.498600   29.498600        0
2022-11-29  29.240200  29.240200  29.240200  29.240200   29.240200        0
2022-11-30  28.801201  28.801201  28.801201  28.801201   28.801201        0
2022-12-01  29.134501  29.134501  29.134501  29.134501   29.134501        0
2022-12-05  29.611500  29.611500  29.611500  29.611500   29.611500        0
2022-12-06  29.433701  29.433701  29.433701  29.433701   29.433701        0
2022-12-07  29.185301  29.185301  29.185301  29.185301   29.185301        0
2022-12-08  29.162500  29.162500  29.162500  29.162500   29.162500        0
2022-12-12  29.075800  29.075800  29.075800  29.075800   29.075800        0
2022-12-13  29.895000  29.895000  29.895000  29.895000   29.895000        0
2022-12-14  30.254200  30.254200  30.254200  30.254200   30.254200        0
2022-12-16  28.218901  28.218901  28.218901  28.218901   28.218901        0
2022-12-19  28.134001  28.134001  28.134001  28.134001   28.134001        0
2022-12-20  27.564100  27.564100  27.564100  27.564100   27.564100        0
2022-12-21  28.340000  28.340000  28.340000  28.340000   28.340000        0
2022-12-22  28.120701  28.120701  28.120701  28.120701   28.120701        0
2022-12-28  28.342699  28.342699  28.342699  28.342699   28.342699        0
2023-01-02  28.831499  28.831499  28.831499  28.831499   28.831499        0
2023-01-03  29.405300  29.405300  29.405300  29.405300   29.405300        0
2023-01-06  29.777000  29.777000  29.777000  29.777000   29.777000        0
2023-01-09  30.265301  30.265301  30.265301  30.265301   30.265301        0
2023-01-10  29.961399  29.961399  29.961399  29.961399   29.961399        0
2023-01-11  30.840200  30.840200  30.840200  30.840200   30.840200        0
2023-01-12  31.372601  31.372601  31.372601  31.372601   31.372601        0
2023-01-20  30.979000  30.979000  30.979000  30.979000   30.979000        0
2023-01-23  31.378201  31.378201  31.378201  31.378201   31.378201        0
2023-01-24  31.291901  31.291901  31.291901  31.291901   31.291901        0
2023-01-30  31.256500  31.256500  31.256500  31.256500   31.256500        0
2023-01-31  30.856001  30.856001  30.856001  30.856001   30.856001        0
2023-02-01  30.993900  30.993900  30.993900  30.993900   30.993900        0
2023-02-03  32.222301  32.222301  32.222301  32.222301   32.222301        0
2023-02-06  31.624201  31.624201  31.624201  31.624201   31.624201        0
2023-02-07  31.336399  31.336399  31.336399  31.336399   31.336399        0
2023-02-08  31.602699  31.602699  31.602699  31.602699   31.602699        0
2023-02-09  31.658199  31.658199  31.658199  31.658199   31.658199        0
2023-02-10  31.355700  31.355700  31.355700  31.355700   31.355700        0
2023-02-13  31.465200  31.465200  31.465200  31.465200   31.465200        0
2023-02-14  31.477200  31.477200  31.477200  31.477200   31.477200        0
2023-02-15  31.095100  31.095100  31.095100  31.095100   31.095100        0
2023-02-16  30.971300  30.971300  30.971300  30.971300   30.971300        0
2023-02-17  31.049900  31.049900  31.049900  31.049900   31.049900        0
2023-02-20  31.001801  31.001801  31.001801  31.001801   31.001801        0
2023-02-21  30.536699  30.536699  30.536699  30.536699   30.536699        0
2023-02-22  30.233999  30.233999  30.233999  30.233999   30.233999        0
2023-02-23  30.510700  30.510700  30.510700  30.510700   30.510700        0
2023-02-24  30.005899  30.005899  30.005899  30.005899   30.005899        0
2023-02-27  30.437901  30.437901  30.437901  30.437901   30.437901        0
2023-02-28  30.514200  30.514200  30.514200  30.514200   30.514200        0
2023-03-02  29.605499  29.605499  29.605499  29.605499   29.605499        0
2023-03-03  29.813999  29.813999  29.813999  29.813999   29.813999    16969